<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add authority</title>
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/addpersoncss.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body style="overflow: hidden;">
       <a href="/chooseperson" class="btn btn-danger" id="back" style="width: 80px;
   margin: 19px 0px -10px 13px;
"><i class="fas fa-arrow-circle-left"></i> Back</a>
      <div class="row">
    <div class="col-md-12">
      <form action="/auth/addperson" method="post">
        <h1 style="color: white;"> ADD AN AUTHORITY </h1>
        
        <fieldset>
          <label for="name" style="color: white;">Name:</label>
          <input type="text" id="name" name="user_name">
        
          <label for="email" style="color: white;">Username:</label>
          <input type="text" id="mail" name="user_username">
       
          <label for="password" style="color: white;">Password:</label>
          <input type="password" id="password" name="user_password">
        </fieldset>
        <button type="submit">ADD</button> 
       </form>
        </div>
      </div>
      
    </body>
</html>
