<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/loginadmincss.css" />
    <script src="/loginadminjs.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
  <a href="/loginchoice" class="btn btn-danger" style="width: 90px;
    margin: -715px 1374px -47px -41px;font-size:large;"><i class="fas fa-arrow-circle-left"></i> Back</a>
    <div class="container2" style="margin: 0 0 0 0; position:absolute;">
        <div class="form">
          <h1 style="color: white;">INCORRECT DETAILS</h1>
          <h1 class="header">Login to your <strong><br>account <i class="fa fa-unlock-alt" aria-hidden="true"></i></strong></h1>
          <form name="myform" action="/auth/adminlogin" method="post" onsubmit="return validateform()">
          <input name="a_username" class="input-login" placeholder="Your username">
          <input name="a_password" type="password" class="input-password" placeholder="Your password">
          <button class="button-log-in" type="submit">Login</button>
          </form>
        </div>
      </div>
</body>
</html>