<html>
    <head>
        <link rel="stylesheet" href="/authorityaddedcss.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>AUTHORITY ADDED</title>
    </head>

    <body style="background-color: black;">
         <a href="/chooseperson" class="btn btn-danger" id="back" style="width: 80px;
       margin: -652px 0px -10px 13px;
"><i class="fas fa-arrow-circle-left"></i> Back</a>
        <div class="container">
            
            
            <div class="box">
                <span></span>
                
                <div class="content">
                    <h2>
                        Person has been added
                    </h2>
                    
                    <p>
                        Person has been added successfully, now they can access the admin!
                    </p>
                    
                </div>
            </div>
            
            
        </div>

</body>
</html>