<html>
    <head>
        <link rel="stylesheet" href="/authorityaddedcss.css">

    </head>

    <body>

        <div class="container">
            
            
            <div class="box">
                <span></span>
                
                <div class="content">
                    <h2>
                        Person has been added
                    </h2>
                    
                    <p>
                        Person has been added successfully, now they can access the admin!
                    </p>
                    
                </div>
            </div>
            
            
        </div>

</body>
</html>