<head>

    <title>Dialog Box</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
       <style>
div {
    background-color: lightgrey;
    width: 1534px;
    height: 104px;
}
</style>

</head>

<body style="background-color: black">
   <a href="/chooseuser" class="btn btn-danger" style="width: 80px;margin: 8px 1px -48px 14px;"><i class="fas fa-arrow-circle-left"></i> Back</a>   
<div style="    margin: 30px 0 0 0;">
	<center>
		<p style="font-size: 75px;">
Chat with us
		</p>
</center>
</div>

 <div class="chat-box" style="margin: -179px 0 50px 1px;">
    	<center>
    		<br><br><br><br><br>
    		<br><br><br><br><br><br><br>
        <iframe
    allow="microphone;"
    width="700"
    height="430"
    border="0"
    src="https://console.dialogflow.com/api-client/demo/embedded/70f4e4c2-3273-4e2a-ad63-c9dd671a6ebb">
</iframe>
</center>
</div>
</body>
