<head>

    <title>Dialog Box</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
       <style>
div {
  background-color: lightgrey;
  width: 1500px;
  height: 55px;
}
</style>

</head>

<body style="background-color: black">
   
<div>
	<center>
		<p style="font-size: 75px;">
Chat with us
		</p>
</center>
</div>

 <div class="chat-box" style="margin: -34px 0 50px 1px;">
    	<center>
    		<br><br><br><br><br>
    		<br><br><br><br><br><br><br>
        <iframe
    allow="microphone;"
    width="700"
    height="430"
    border="0"
    src="https://console.dialogflow.com/api-client/demo/embedded/70f4e4c2-3273-4e2a-ad63-c9dd671a6ebb">
</iframe>
</center>
</div>
</body>
