<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="/userlogincss.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<div class="jumbotron text-center">
    <div class="container">
      
      <h1>WELCOME!!!</h1>    
    </div>
  </div>
  <div class="container"> 
    <!-- Example row of columns -->

    
    
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="mrng-60-top">CHOOSE AND CLICK</h2>
      </div>
    </div>
    
    <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button thar-one"></a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a href="/feedbackform" class="btn btn-sm animated-button thar-two">COMPLAINTS</a> </div>
      <div class="col-md-3 col-sm-3 col-xs-6"> <a href="#" class="btn btn-sm animated-button thar-three">CHAT WITH US</a> </div>

    </div>
  </div>


</html>