<!DOCTYPE html>
<html>

<head>
    <link href="/choosepersoncss.css" rel="stylesheet">
    <title>CHOOSE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

        #oneb {
            margin: 154px 33px -8px 823px !important;
            background-color: #d2d2d2 !important;
            color: black !important;
        }

        #back {
            margin: 19px 0px -10px 13px !important;
            font-size: medium !important;
            width:150px !important;
        }
    </style>
</head>

<body>
    <a href="/chooseadmin" class="btn btn-danger" id="back" style="width: 80px;
   margin: 19px 0px -10px 13px;
"><i class="fas fa-arrow-circle-left"></i> Back</a>
    <a href="/addperson" class="btn" id="oneb">ADD AN AUTHORITY</a>
    <a href="/viewauthority" class="btn gray">VIEW AUTHORITIES</a>
</body>

</html>