<!DOCTYPE html>
<html>
<head>
    <link href="/chooseusercss.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    </style>
</head>
<body>

    <h2 class="title" style="height: 10px; font-size: 50px; margin-left: 650px;color: black; margin-bottom: 300px;" >WELCOME</h2>

    <div class="chat">
    <h2 style="height: 50px; font-size: 50px; margin-left: 650px;color: black; margin-top: 290px;" >CHATBOX</h2>
    </div>

    
    <div class="chat">
        <h2 style="height: 50px; font-size: 50px; margin-left: 600px;color: black; margin-top: 40px;" ><a style="color:black" href="/feedbackform">Complaints / Feedback</a></h2>
        
    </div>

    <div class="logout">LOGOUT</div>
</body>

</html>    