<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Login</title>
  <link rel="stylesheet" href="/userlogincss.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
</head>
<body style="background: black;">
   <a href="/loginchoice" class="btn btn-danger" style="width: 80px;margin: 8px 1px -48px 14px;"><i class="fas fa-arrow-circle-left"></i> Back</a>
   <a href="/userlogin" class="btn btn-info" style="width: 100px;margin: 8px 15px -48px 1321px;"><i class="fas fa-sign-out-alt"></i></i> Logout</a>
<div class="container">
  <!-- Example row of columns -->



  <div class="row">
    <div class="col-md-12 text-center">
    </div>
  </div>

  <div class="row" style="margin: 272px 0 0 0;">
    <div class="col-md-3 col-sm-3 col-xs-6"> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a href="/feedbackform"
        class="btn btn-sm animated-button thar-two" style="font-size: large;">POST A COMPLAINT <i class="fas fa-sticky-note fa-1x"></i></a> </div>
    <div class="col-md-3 col-sm-3 col-xs-6"> <a href="/chatbox" class="btn btn-sm animated-button thar-three" style="font-size: large;">CHAT WITH US <i class="fas fa-comments fa-1x"></i> </a>
    </div>

  </div>
</div>
</body>

</html>