<!DOCTYPE html>
<html>
<head>
    <link href="/chooseadmincss.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    </style>
</head>
<body>
    <h1 class="titleeffect3" style="top:141px; left:120px;"><a href="/inventorychoice">INVENTORY</a></h1>
    <h1 class="titleeffect1" style="top:144px; left:124px;"><a href="/makeaquotation">MAKE A QUOTATION</a></h1>
    <h1 class="titleeffect2" style="top:138px; left:111px;"><a href="/searchaquotation">SEARCH A QUOTATION</a></h1>
    <h1 class="titleeffect4" style="top:158px; left:111px;"><a href="/chooseperson">ADD AN AUTHORITY</a></h1>
    <div class="logout">LOGOUT</div>
</body>
</html>