<head>
    <link href="/chooseadmincss.css" rel="stylesheet">
    <style>
        a{
            color: rgb(0, 0, 0);
        }
    </style>
</head>
<body style="background-color: black;">
<ul>
  <li><a href="/inventorychoice">INVENTORY</a></li>
  <li><a href="/makeaquotationpt1">MAKE A QUOTATION</a></li>
<li><a href="/searchchoice">SEARCH A QUOTATION</a></li>
  <li><a href="/viewcomplaints">VIEW COMPLAINTS</a></li>
  <li><a href="/chooseperson">ADD AN AUTHORITY</a></li>
  <li><a href="/companydataform">ADD A COMPANY</a></li>
</ul>
</body>