<!DOCTYPE html>
<html>
<head>
    <link href="/choosepersoncss.css" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    </style>
</head>
<body>
     <a href="/addperson" class="btn">ADD AN AUTHORITY</a>
     <a href="/viewauthority" class="btn gray">VIEW AUTHORITIES</a>
</body>
</html>