<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<link rel="stylesheet" href="/companyregisteredcss.css">
<h2 class="h2-animate">USER SIGNIN</h2>
</head>

<!-- Please Copy Area Start -->
    <section class="card-section">

        <div class="card">
            <h3>THE USER HAS BEEN SIGNED IN SUCCESSFULLY</h3>
            <div class="card-content">
                <p style="font-size: xx-large;">WELCOME! <br>YOU HAVE BEEN SIGNED IN SUCCESSFULLY! HOPE TO SEE YOU AROUND FREQUENTLY 
                </p>
            </div>
        </div>
        
</section>

