<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add authority</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/companydataformcss.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <a href="/chooseadmin" class="btn btn-danger" id="back" style="width: 80px;
   margin: -86px 0px 105px 13px;
"><i class="fas fa-arrow-circle-left"></i> Back</a>
<form  action="/auth/companydataform" method="post">
  <div style="margin-left: -7px;margin-top: -22px; align-items:center;">
  <input name="abv" id="abv" placeholder="Enter Company Name-Branch" class="name" type="text" required />
  <input name="name" id="name" placeholder="Enter Company name" class="name" type="text" required />
  <input name="add" id="add" placeholder="Enter Company Address" class="name" type="text" required />
  <input type="email" name="email" id="email" class="name" placeholder="Enter the company's email" required />
  <button class="btnown" style="margin-left: 80px;" type="submit">SUBMIT</button>
  </div>
</form>
</body>