<html>

<head>
  <link href="/searchquotationcss.css" rel="stylesheet">
  {{!-- <script src="/chart.js"></script> --}}
  <link href="/atagcss.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
      </script>
      <script src = "https://code.highcharts.com/highcharts.js"></script> 
      <script src = "https://code.highcharts.com/modules/data.js"></script>

</head>

<body>
    <a href="/searchproducts" class="btn btn-danger" id="back" style="width: 80px;
   margin:31px 0px -21px 13px;
"><i class="fas fa-arrow-circle-left"></i> Back</a>
  <br>
  <h1>
    <center>Products List</center>
  </h1>
  <br>
  {{!-- <form class="flex-form" action="/auth/viewinvent" method="post" style="margin: 0  0 0 500px;">
    <input type="text" name="search_name" id="search_name" placeholder="Which product are you looking for?">
    <button class="btn btn-primary " type="submit" style="cursor:pointer;"><i class="fas fa-search"></i></button>
  </form> --}}
  <div style="margin: 0 0 0 600px;">
    <h4> ACTIONS : </h4>
    <div class="page">
      <a href="/searchcompanyname" class="r-link link text-underlined">Search by company name</a>
    </div>
    <div class="page">
      <a href="/searchprodname" class="r-link link text-underlined">Search by product name</a>
    </div>
    <div class="page">
      <a href="/viewcompanyoverview" class="r-link link text-underlined">View company's overview</a>
    </div>
    <div class="page">
      <a href="/disc" class="r-link link text-underlined">Avail discount to</a>
    </div>
    <div class="page">
      <a href="/searchproducts" class="r-link link text-underlined">View all products</a>
    </div>
  </div>
  <br>
  
  <table class="table table-striped" id = "datatable">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Company name
        </th>
        <th scope="col">TOTAL PRODUCTS BOUGHT</th>
        <th scope="col">TOTAL QUANTITY BROUGHT</th>
      </tr>
    </thead>
    <tbody>
      {{#each items as |item|}}
      <tr class="table-info">
        <th scope="row">{{item.companyabv}}</th>
        <td>{{item.countname}}</td>
        <td>{{item.cp}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</body>

</html>