<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add authority</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/companydataformcss.css">
</head>

<form  action="/auth/companydataform" method="post">
  <div style="margin-left: 20px; align-items:center;">
  <input name="abv" id="abv" placeholder="Enter Company Abbreviation" class="name" type="text" required />
  <input name="name" id="name" placeholder="Enter Company Name" class="name" type="text" required />
  <input name="add" id="add" placeholder="Enter Company Address" class="name" type="text" required />
  <input type="email" name="email" id="email" class="name" placeholder="Enter the company's email" required />
  <button class="btn" style="margin-left: 80px;" type="submit">SUBMIT</button>
  </div>
</form>