<head>
    <link rel="stylesheet" type="text/css" href="/companyaddedcss.css">
    <title>COMPANY ADDED</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
</head>
<body style="background-image: url(/cabg.jpg); background-repeat: no-repeat; background-size: 80% 100%; background-position: center; background-color:#0B0B0B">
    <a href="/chooseadmin" class="btn btn-danger" id="back" style="width: 80px;
   margin: 19px 0px -10px 13px;
"><i class="fas fa-arrow-circle-left"></i> Back</a>
<div class="wrapper">
    <button>
      THE COMPANY HAS BEEN ADDED TO THE DATABASE, SUCCESSFULLY!
    </button>
  </div>
</body>  
  
  
  