<head>
    <link rel="stylesheet" href="/companyregisteredcss.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>USER SIGNNED IN</title>
</head>
<body>
    <a href="/userlogin" class="btn btn-danger" style="width: 80px;margin: 8px 1px -48px 14px;"><i class="fas fa-arrow-circle-left"></i> Back</a>
   <h2 class="h2-animate">USER SIGNIN</h2>
<!-- Please Copy Area Start -->
<section class="card-section">
    <div class="card">
        <h3>THE USER HAS BEEN SIGNED IN SUCCESSFULLY</h3>
        <div class="card-content">
            <p style="font-size: xx-large;">WELCOME! <br>YOU HAVE SIGNED IN SUCCESSFULLY! HOPE TO SEE YOU AROUND
                FREQUENTLY
            </p>
        </div>
    </div>

</section>
</body>