<head>
    <link rel="stylesheet" type="text/css" href="/companyaddedcss.css">
</head>
<body style="background-image: url(/cabg.jpg); background-repeat: no-repeat; background-size: 80% 100%; background-position: center; background-color:#0B0B0B">
<div class="wrapper">
    <button>
      THE COMPANY HAS BEEN ADDED TO THE DATABASE, SUCCESSFULLY!
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</body>  
  
  
  