<html>
<head>
    <link rel="stylesheet" href="/inventoryformcss.css">
    <title>INSERT INTO INVENTORY</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>


<body>
<div id="show_bg">
  <div class="main">
       <a href="/inventorychoice" class="btn btn-danger" id="back" style="width: 80px;
   margin: 10px 0px -12px 8px;
"><i class="fas fa-arrow-circle-left"></i> Back</a>
   <!-- <img id="title-image" src="https://dwj199mwkel52.cloudfront.net/assets/favicon-2c2100c8c497758008b4271b2be66d5a2182ad8acfdcdde48996dc357e14df54.png">-->
    <div class="header">
      <h1 id="title">INVENTORY</h1>
      <p id="description">
          EDIT THE INVENTORY RIGHT HERE
        </p>
      </div>

     <!-- Form Begin -->
    <div class="survey-container">
      <form id="add_inventory" action="/auth/editinventory" method="post">

        <label for="name">Product Name</label>
        <input type="text" id="p_name" name="p_name" placeholder="E.g. SCREW" required>
        </br></br>

        <label for="email">Price per piece</label>
        <input type="number" step="0.01" id="p_price" name="p_price" placeholder="E.g. 10.01" required>
        </br></br>

        <label for="email">Number of products</label>
        <input type="number" id="p_noproducts" name="p_noproducts" placeholder="E.g. 10" required>
        </br></br>
    
      <label for="dropdown">SIDE NOTE</label>
      <input type="text" id="p_sidenote" name="p_sidenote" placeholder="E.g. SCREW for xyz machine">
      </br>

      <button class="button-container" type="submit"><a style="color:rgb(81, 12, 241);">SUBMIT</a></button>
      </div>

    </form>
  </div>
  </div>
</div>
</body>
</html>
