<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory choice</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/inventorychoicecss1.css">
	<style>
		a{
			color:white;
		}
	</style>
</head>

<body>
<nav>
    <ul>
      <li>
        <a href="/editinventory">INSERT INTO INVENTORY
        <span></span><span></span><span></span><span></span></a>
      </li>
      
      <li>
        <a href="/viewinvent">VIEW THE INVENTORY
        <span></span><span></span><span></span><span></span></a>
      </li>
   
    </ul>
  </nav>
</body>