<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Download Button</title>
	<link rel="stylesheet" href="/inventorychoicecss.css">
</head>
<body>

	<a href="/editinventory">
		EDIT THE INVENTORY
        
    </a>
    <br>
    <br>

	<a href="/viewinvent" class="btn-2" >
		VIEW THE INVENTORY
	</a>
	    <br>
    <br>
{{!-- 
	<a href="/updateinventory" class="btn-2" style="height: 100px;">
		UPDATE THE INVENTORY
	</a> --}}
</div>
</body>
</html>