<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Login</title>
    <style>
        #box1{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            height: 300px;
            padding:40px;
            background: rgba(228, 228, 228);
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0,0,0,0.5);
            border-radius: 10px;
        }
        .box2{
            width: 120px;
            height: 60px;
            background-color: rgb(29, 27, 27);
            color: white;
            border-radius: 20px;
            
            align-items: center;
            display: grid;
            justify-content: center;
        }
        a{
            text-decoration:none ;
        }
        p{
            color: white;
            font-size: 20px;
            
        }

    </style>
    </head>
    <body style="background-image: url('/bg.jpg'); background-size: cover;">
     <a href="/" class="btn btn-danger" style="width: 80px;margin: 8px 1px -48px 14px;"><i class="fas fa-arrow-circle-left"></i> Back</a>
        <div id="box1">
            <center>
    <br><br>
    <div class="box2"><a href="/userlogin"><p>USER <i class="fas fa-user"></i></p> </a></div>
    <BR></BR>
    <div class="box2"><a href="/adminlogin"><p>ADMIN <i class="fas fa-user-shield"></i></p></a>
        </div>
                </center>
    </div>
    </body>
</html>