<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/companyformcss2.css" />
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
  <div class="container">
    <header>Make a quotation Form</header>
    <div class="form-outer">
      <form action="#">
        <div class="page slide-page" style="margin: 0px 120px;">
          <div class="title">Select the company name:</div>
          <div class="field">
            <div class="label">Comany name</div>
            <select>
              {{#each items as |item| }}
              <option>{{item.companyabv}}</option>
               {{/each}}
            </select>
          </div>
          <div class="field">
            <button class="firstNext next"><a href="/makeaquotationpt2">Next</a></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>

</html>