<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/companyformcss.css" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>
  <body>
    <div class="container">
      <header>Make a quotation Form</header>
      <div class="progress-bar">
        <div class="step">
          <p>Comany Name</p>
          <div class="bullet">
            <span>1</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
        <div class="step">
          <p>Product</p>
          <div class="bullet">
            <span>2</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
        <div class="step">
          <p>Other details</p>
          <div class="bullet">
            <span>3</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
        <div class="step">
          <p>Confirm</p>
          <div class="bullet">
            <span>4</span>
          </div>
          <div class="check fas fa-check"></div>
        </div>
      </div>
      <div class="form-outer">
        <form action="#">
          <div class="page slide-page" style="margin: 0px 120px;">
            <div class="title">Select the company name:</div>
              <div class="field">
                <div class="label">Comany name</div>
                <select>
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                  <option>6</option>
                  <option>7</option>
                  <option>8</option>
                  <option>9</option>
                  <option>10</option>
                  <option>11</option>
                </select>
              </div>
            <div class="field">
              <button class="firstNext next">Next</button>
            </div>
          </div>
          <div class="page">
            <div class="title1">Select the product:</div>
            <div class="field2">
              <div class="label">Product 1</div>
              <input type="checkbox" />
              <input type="number" />
            </div>
            <div class="field2">
              <div class="label">Product 1</div>
              <input type="checkbox" />
              <input type="number" />
            </div>
            <div class="field2">
              <div class="label">Product 1</div>
              <input type="checkbox" />
              <input type="number" />
            </div>
            <div class="field2">
              <div class="label">Product 1</div>
              <input type="checkbox" />
              <input type="number" />
            </div>
            <div class="field2">
              <div class="label">Product 1</div>
              <input type="checkbox" />
              <input type="number" />
            </div>
            <div class="field2">
              <div class="label">Product 1</div>
              <input type="checkbox" />
              <input type="number" />
            </div>
            <div class="field2">
              <div class="label">Product 1</div>
              <input type="checkbox" />
              <input type="number" />
            </div>
            <div class="field2">
              <div class="label">Product 1</div>
              <input type="checkbox" />
              <input type="number" />
            </div>
            <div class="field2">
              <div class="label">Product 1</div>
              <input type="checkbox" />
              <input type="number" />
            </div>
            <div class="field2">
              <div class="label">Product 1</div>
              <input type="checkbox" />
              <input type="number" />
            </div>
            <div class="field2">
              <div class="label">Product 1</div>
              <input type="checkbox" />
              <input type="number" />
            </div>
            <div class="field2">
              <div class="label">Product 1</div>
              <input type="checkbox" />
              <input type="number" />
            </div>
            <div class="field btns">
              <button class="prev-1 prev">Previous</button>
              <button class="next-1 next">Next</button>
            </div>
          </div>
          <div class="page">
            <div class="title">Quotation Details:</div>
            <br>
            <div class="field2">
              <div class="label" style="margin:6px 1px">Quotation number</div>
              <input type="text" />
            </div>
            <div class="field2">
              <div class="label" style="margin:6px 1px">Date</div>
              <input type="date" />
            </div>
            <div class="field2">
              <div class="label" style="margin:6px 1px">Address of company</div>
              <input type="text" />
            </div>
            <div class="field2">
              <div class="label" style="margin:6px 1px">Validity period</div>
              <input type="text" />
            </div>
            <div class="field2">
              <div class="label" style="margin:6px 1px">Quotations</div>
            </div>
            <div class="field2">
              <div class="label" style="margin:6px 1px">HSN code</div>
              <input type="text" />
            </div>
            <div class="field btns">
              <button class="prev-2 prev">Previous</button>
              <button class="next-2 next">Next</button>
            </div>
          </div>
          <div class="page">
            <div class="title">Login Details:</div>
            <div class="field">
              <div class="label">Username</div>
              <input type="text" />
            </div>
            <div class="field">
              <div class="label">Password</div>
              <input type="password" />
            </div>
            <div class="field btns">
              <button class="prev-3 prev">Previous</button>
              <button class="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script src="/companyformjs.js"></script>
  </body>
</html>
