<head>
    <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>BUTTON</title>
        <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/fillerpagecss.css">
</head>
<div class="container">

			<section class="content">
				<p>DETAILS HAVE BEEN SAVED</p>
				<div class="box bg-1">
					<h2>CLICK TO PROCEED TO VIEW THE FINAL QUOTATION </h2>
					<button class="button button--moema button--text-thick button--text-upper button--size-s"><a href="/quotationtable" style="color: white;">Next</a></button>
					
				</div>
				
			</section>
</div>
			
						

