<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=">
  <title>Quotation Has Been Added</title>
  <link rel="stylesheet" href="/quotationhasbeenaddedcss.css">
</head>
<body>
  <div class="container">
  <button class="btn line dot">QUOTATION HAS BEEN ADDED successfully</button>
</div>
</body>
</html>