<!DOCTYPE html>
<html>
<head>
    <link href="/searchquotationcss.css" rel="stylesheet">
    <title>SEARCH</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
    </style>
</head>

  <div class="cover">
    <h1>FIND A PRODUCT THROUGH THE INVENTORY.</h1>
    <form  class="flex-form">
          <input type="text" placeholder="Which product are you looking for?">
      <button class="button-container" type="submit" style="cursor:pointer;"><i class="fas fa-search"></i></button>
    </form>
    
  </div>

</div>