<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ATTENDANCE</title>
  <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/searchchoice.css">
</head>

<body>
  <!-- Hover #1 -->
  <div class="box-1">
    <button class="btn btn-one" type="button"><a href="/searchproducts">SEARCH THROUGH PRODUCTS</a></button>
  </div>

  <!-- Hover #2 -->
  <div class="box-2">
    <button class="btn btn-two" type="button"><a href="#">SEARCH THROUGH QUOTATIONS</a></button>

  </div>



</body>