<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Testimonial Card</title>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/testimonialcss.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>

<body style="background-color: black;">
  <a href="/" class="btn btn-danger" style="margin: 8px -10px 0px 14px; width: 80px;"><i class="fas fa-arrow-circle-left"></i> Back</a>
    <div class="testimonials">
      <!-- CARD 1 START-->
      <div class="card">
        <div class="layer"></div>
        <div class="content">
          <p>The work is done with keeping all our requirments as their main priority.</p>
          <div class="image">
            <img src='female_avatar1.png.crdownload.png' alt="">
          </div>
          <div class="details">
            <h2>
              <br>
              <span>ITC</span>            
            </h2>
          </div>
        </div>
      </div>
      <!-- CARD 1 end-->
      
      <!-- CARD 2 START-->
      <div class="card">
        <div class="layer"></div>
        <div class="content">
          <p>We are very happy with the service provided here.</p>
          <div class="image">
            <img src='../public/female_avatar2.png.crdownload.png' alt="">
          </div>
          <div class="details">
            <h2>
              <br>
              <span>HUL</span>            
            </h2>
          </div>
        </div>
      </div>
      <!-- CARD 2 end-->
      <!-- CARD 3 START-->
      <div class="card">
        <div class="layer"></div>
        <div class="content">
          <p>The work done is here with utmost perfection and we are extremely satisfied with the service.</p>
          <div class="image">
            <img src='../public/female_avatar3.png.crdownload.png' alt="">
          </div>
          <div class="details">
            <h2>
               <br>
              <span>WIPRO</span>            
            </h2>
          </div>
        </div>
      </div>
      <!-- CARD 3 end-->

              
    </div>
  </body>
  <!-- 	If you modify and have some question/suggestion please feel free to contact me hi@yerighthai.in. The code here in THIS PEN is CREATED for learning purpose, everyone is having all the rights to use it for whatsoever purpose, this code doen't comes with any promise to be working well in all browsers.   -->
  </html>
</html>
