<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
<title>EMPLOYEE DATA</title>
<style>
    th{ 
        color:#fff;
            }
</style>
<body>
	    <a href="/chooseadmin" class="btn btn-danger" id="back" style="width: 80px;
   margin: 19px 0px -10px 13px;
"><i class="fas fa-arrow-circle-left"></i> Back</a>
<h1><center>EMPLOYEE DATA</center></h1>
<table class="table table-striped">
    <tr  class="bg-info">
        <th>Name</th>
        <th>Address</th>
        <th>Gender</th>
        <th>Designation</th>
        <th>Date of Birth</th>
        <th>Blood Group</th>
    </tr>

    <tbody id="myTable">
        
    </tbody>
</table>

<script>
	var myArray = []
	

	$.ajax({
		method:'GET',
		url:'/empdata.json',
		success:function(response){
			myArray = response.data
			buildTable(myArray)
			console.log(myArray)
		}
	})



	function buildTable(data){
		var table = document.getElementById('myTable')

		for (var i = 0; i < data.length; i++){
			var row = `<tr>
							<td>${data[i].name}</td>
							<td>${data[i].address}</td>
							<td>${data[i].gender}</td>
                            <td>${data[i].designation}</td>
                            <td>${data[i].dob}</td>
                            <td>${data[i].bg}</td>
					  </tr>`
			table.innerHTML += row


		}
	}

</script>
</body>
</html>