<html>

<head>
  <link href="/searchquotationcss.css" rel="stylesheet">
  <link href="/atagcss.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <title>VIEW INVENTORY</title>
</head>

<body>
  <a href="/viewinvent" class="btn btn-danger" id="back" style="width: 80px;
   margin: 19px 0px -10px 13px;
"><i class="fas fa-arrow-circle-left"></i> Back</a>
  <br>
  <h1>
    <center>Inventory List</center>
  </h1>
    <div style="margin: 0 0 0 600px;">
    <div class="page">
      <a href="/nopless10" class="r-link link text-underlined">Products items less than 10</a>
    </div>
    <div class="page">
      <a href="/nopb10and50" class="r-link link text-underlined">Products items between 10 and 50</a>
    </div>
    <div class="page">
      <a href="/nopb50and100" class="r-link link text-underlined">Products items between 50 and 100</a>
    </div>
    <div class="page">
      <a href="/nopb100and200" class="r-link link text-underlined">Products items between 100 and 200</a>
    </div>
    <div class="page">
      <a href="/pmax" class="r-link link text-underlined">Product with maximum price</a>
    </div>
    <div class="page">
      <a href="/pmin" class="r-link link text-underlined">Product with minimum price</a>
    </div>
    </div>
    <br>
<h1>
    <center>TOTAL NUMBER OF PRODUCTS IN THE INVENTORY : {{#each items as |item|}}{{item.countp}}{{/each}}</center>
  </h1>
</body>

</html>