@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

html {
  font-family: "Open Sans", sans-serif;
  background-color: black;
}

h1 {
  color: #444;
}

.btn {
  padding: 1em 1.1em 1.1em !important;
  border-radius: 3px !important;
  margin: 153px 20px 31px 264px !important;
  color: #fbdedb !important;
  background-color: #fbdedb !important;
  display: inline-block !important;
  background: #e74c3c !important;
  -webkit-transition: 0.3s !important;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s !important;
  font-family: sans-serif !important;
  font-weight: 800 !important;
  font-size: 25px !important;
  text-transform: uppercase !important;
  text-align: center !important;
  text-decoration: none !important;
  -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
  position: absolute !important;
}
.btn:hover,
.btn:focus {
  opacity: 0.8;
}
.btn:active {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
}
.btn.block {
  display: block !important;
}
.btn.circular {
  border-radius: 50em !important;
}

/* Colours */
.red {
  background-color: #d55050;
}
.teal {
  background-color: #50d5a1;
}
.sky {
  background-color: #6698cb;
}
.black {
  background-color: #5c6166;
}
.gray {
  color: black;
  background-color: #d2d2d2;
}
.orange {
  background-color: #e96633;
}
.pink {
  background-color: #cb99c5;
}
.green {
  background-color: #5bbd72;
}
.blue {
  background-color: #7abedf;
}
.yellow {
  background-color: #ecc92b;
}
.purple {
  background-color: #564f8a;
}
