@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: visible;
  background: url("bg.png"), -webkit-linear-gradient(bottom, #000000, #cac2c6);
}
::selection {
  color: #fff;
  background: #d4408c;
}
.container {
  width: 600px;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 50px 35px 10px 35px;
}
.container header {
  font-size: 35px;
  font-weight: 600;
  margin: 0 0 30px 0;
}
.container .form-outer {
  width: 600px;
  height: 2150px;
  overflow: hidden;
}
.container .form-outer form {
  display: flex;
  width: 400%;
}
.form-outer form .page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}
.form-outer form .page .title1 {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  margin: 10px 20px !important;
}
.form-outer form .page .field {
  width: 330px;
  height: 45px;

  display: flex;
  position: relative;
}
.form-outer form .page .field2 {
  width: 330px;
  height: 45px;
  margin: -10px 0px;
}
.form-outer form .page .field2 .label {
  font-weight: 500;
  margin: -5px 9px -18px 0;
  text-align: left;
}
form .page .field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
.clear {
  clear: both;
}

span{
  white-space: pre;
}
form .page .field2 input[type="checkbox"]{
  height: 60%;
  width: 57%;
  margin: -3px -214px -1px 0px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 18px;
  display:inline-block;
}
form .page .field2 input[type="number"]{
  height: 50%;
  width: 50px;
  margin: 6px -214px -2px 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
  display:inline-block;
}
form .page .field2 input[type="text"]{
  height: 60%;
  width: 57%;
  position: absolute;
  top: 5px;
  left: 153px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field2 input[type="date"]{
  height: 60%;
  width: 57%;
  position: absolute;
  top: 5px;
  left: 153px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 18px;
}
form .page .field select {
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  font-weight: 500;
}
form .page .field button {
  margin-top: 1960px !important;
  width: 100%;
  height: calc(100% + 5px);
  border: none;
  background: #a7a4a5 !important;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover {
  background: #000;
}
form .page .btns button {
  margin-top: -20px !important;
}
form .page .btns button.prev {
  margin-right: 3px;
  font-size: 17px;
}
form .page .btns button.next {
  margin-left: 3px;
}
.container .progress-bar {
  display: flex;
  margin: 40px 0;
  user-select: none;
}
.container .progress-bar .step {
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p {
  font-weight: 500;
  font-size: 18px;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet {
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
}
.progress-bar .step .bullet.active {
  border-color: #252525;
  background: #252525;
}
.progress-bar .step .bullet span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span {
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: -119px;
  height: 3px;
  width: 115px;
  background: #262626;
}
.progress-bar .step .bullet.active:after {
  background: #a7a4a5;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after {
  display: none;
}
.progress-bar .step p.active {
  color: #525252;
  transition: 0.2s linear;
}
.progress-bar .step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}
.progress-bar .step .check.active {
  display: block;
  color: #fff;
}
